body {
    font-family: monospace;
    margin:0;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.content {
    box-shadow: 15px 15px 30px rgb(71,71,71);
    border-radius: 1rem;
    border-style: groove;
    height: auto;
    background-color: #9CC9E8;
    margin: auto 10%;
}

table {
    width: auto;
    text-align: center;
    margin: auto;
    padding: 10px;
}

th {
    font-size: 35px;
    margin: auto 10px;
}

tr {
    font-size: 25px;
    margin: auto 10px;
}