body {
    font-family: monospace;
    margin:0;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.content {
    box-shadow: 15px 15px 30px rgb(71,71,71);
    border-radius: 1rem;
    border-style: groove;
    background-color: #9CC9E8;
    text-align: center;
    padding: 10px;
}

#flex {
    width: 18%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    word-wrap: break-word;
}

#flex-head {
    width: 18%;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.content-wrap {
    width: 90%;
    margin: auto 5%;
}