body {
    margin: 0;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #1E1E24; /*Raisin Black*/
}

.content {
    box-shadow: 15px 15px 30px rgb(71,71,71);
    border-radius: 1rem;
    border-style: groove;
    background-color: #9CC9E8;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #1E1E24;
}

a:hover {
    font-weight: bold;
}

.form textarea {
    padding: 5px;
    resize: none;
}

.form input {
    width: 60%;
    margin: 25px 5% 25px 5%;
    text-align: center;
    font-size: 30px;
    height: 40px;
    color: #1E1E24; /*Raisin Black*/
    border: none;
    border-bottom: 2px solid;
    background-color: rgba(0, 0, 0, .0);
}

.form label {
    font-size: 40px;
    color: #1E1E24; /*Raisin Black*/
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #383A43; /*Onyx*/
}

textarea {
    font-size: 25px;
    color: #383A43; /*Onyx*/
}

.home {
    width: 60%;
    margin: auto 20% ;
}

#cerca {
    width: 100px;
}

#home {
    width: 50%;
}

.content-team {
    width: 70%;
    margin: auto 15%;
}

.content-candidati {
    width: 90%;
    margin: auto 5%;
}

#flex {
    width: 18%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding-top: 10px;
    word-wrap: break-word;
}

#flex-head {
    width: 18%;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    margin: 10px auto;
    width: fit-content;
    height: 155px;
    border: 2px solid #1E1E24;
}

.dropdown-content img {
    display: inline-block;
    width: 128px;
    height: 128px;
}

.dropdown-content p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.error {
    font-size: 60px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}