body {
    margin: 0;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #1E1E24; /*Raisin Black*/
}

.content {
    box-shadow: 15px 15px 30px rgb(71,71,71);
    border-radius: 1rem;
    border-style: groove;
    background-color: #9CC9E8;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: #1E1E24;
}

input:hover, button:hover, a:hover {
    font-weight: bold;
}

.form textarea {
    padding: 5px;
    resize: none;
}

.form input {
    width: 60%;
    margin: 25px 5% 25px 5%;
    text-align: center;
    font-size: 30px;
    height: 40px;
    color: #1E1E24; /*Raisin Black*/
    border: none;
    border-bottom: 2px solid;
    background-color: rgba(0, 0, 0, .0);
}

.form label {
    font-size: 40px;
    color: #1E1E24; /*Raisin Black*/
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #383A43; /*Onyx*/
}

textarea {
    font-size: 25px;
    color: #383A43; /*Onyx*/
}

.home {
    width: 60%;
    margin: auto 20% ;
}

#cerca {
    width: 100px;
}

#home {
    width: 50%;
}

.content-createTeam {
    width: 70%;
    margin: auto 15%;
}

.content-candidati {
    width: 90%;
    margin: auto 5%;
}

.content hr{
    background-color: #101d42;
    border: solid 2px #101d42;
}

#flex {
    width: 24%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    word-wrap: break-word;
}

#flex form {
    display: inline-block;
}

#flex input, #flex button{
    font-size: 18px;
    border-radius: 2rem;
    padding: 6px;
    background-color: #59A5D8;
    font-family: monospace;
}

#flex-head {
    width: 24%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    margin: 10px auto;
    width: fit-content;
    height: 155px;
    border: 2px solid #1E1E24;
}

.dropdown-content img {
    display: inline-block;
    width: 128px;
    height: 128px;
}

.dropdown-content p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.error {
    font-size: 60px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}

.team {
    box-shadow: 15px 15px 30px rgb(71 71 71);
    border-radius: 1rem;
    border-style: groove;
    background-color: #9CC9E8;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.team-inf, .team-descr, .team-button, .team-dip {
    display: inline-block;
    font-size: 23px;
    width: 25%;
    margin-top: 20px;
}

.team {
    display: flex;
    align-items: center;
}

#flex-team-button button{
    font-size: 18px;
    border-radius: 2rem;
    padding: 6px;
    background-color: #59A5D8;
    font-family: monospace;
    margin-bottom: 20px;
}

.occupato {
    width: 23px;
    margin: 10px auto;
    background-color: red;
    font-size: 20px;
    border-radius: 5rem;
    color: red;
}

.disponibile {
    width: 23px;
    margin: 10px auto;
    background-color: green;
    font-size: 20px;
    border-radius: 5rem;
    color: green;
}

.colloquio {
    display: none;
    position: relative;
    width: 300px;
    bottom: 55px;
    right: -15px;
    z-index: 1;
    padding-top: -10px;
    background-color: #59A5D8;
    border: 2px solid black;
    border-radius: 2rem;
    font-family: monospace;
}

.colloquio input {
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 10px;
    border: none;
    border-radius: unset;
    border-bottom: 2px solid #1E1E24;
}

.colloquio button {
    display: inline-block;
    border: none;
    border-radius: unset;
    border-bottom: 2px solid #1E1E24;
}

input, button {
    color: #1E1E24;
}

.dropdown {
    display: inline-block;
    padding: 10px;
}

input[type=file]::file-selector-button {
    border: 2px solid #1E1E24;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #9CC9E8;
    transition: 1s ease;
}

input[type=file]::file-selector-button:hover {
    background-color: #59A5D8;
}

.text-block input[type=submit], .team-button input[type=submit] {
    border: 2px solid #1E1E24;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #9CC9E8;
}

.text-block input[type=submit]:hover, .team-button input[type=submit]:hover  {
    background-color: #59A5D8;
    transition: 1s ease;
}

.team-button p{
    border-bottom: solid #101D42 2px;
    margin: auto;
}