body{
    font-family: monospace;
    margin:0;
}

h1{
    text-align: center;
    font-size: 50px;
}

.content{
    box-shadow: 15px 15px 30px rgb(71,71,71);
    border-radius: 1rem;
    border-style: groove;
    height: auto;
    background-color: #9CC9E8;
    margin: auto 10%;
}

.information {
    width: 90%;
}
.information table{
    text-align: center;
}

.information th{
    font-size: 30px;
    padding: 20px 45px;
}

.searchButton{
    padding: 15px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 28px;
    border-radius: 7rem;
}

.searchButton a:hover{
    font-weight: bold;
}

.found {
    width: 10%;
    float: right;
}

.found select {
    border: groove;
    background-color: #9cc9e8;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

.information td{
    font-size: 25px;
    padding: 10px;
}


