body {
    font-family: monospace;
    margin:0;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.content {
    box-shadow: 15px 15px 30px rgb(71,71,71);
    border-radius: 1rem;
    border-style: groove;
    height: auto;
    background-color: #9CC9E8;
    margin: auto 10%;
}

.information {
    width: 90%;
    margin: auto;
}
.information table {
    text-align: center;
}

.information th {
    font-size: 30px;
    padding: 20px 45px;
}

.searchButton {
    padding: 15px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 28px;
    border-radius: 7rem;
}

.searchButton a:hover {
    font-weight: bold;
}

.found {
    width: 10%;
    margin-left: 90%;
    float: right;
}

.found select {
    border: groove;
    background-color: #9cc9e8;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 8px;
}

#flex-dip {
    width: 19%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    word-wrap: break-word;
}

#flex-head-dip {
    width: 19%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    margin: 10px auto;
    width: 260px;
    height: 155px;
    border: 2px solid #1E1E24;
}

.dropdown-content a{
    display: none;
}

button {
    font-size: 18px;
    border-radius: 2rem;
    padding: 6px;
    background-color: #59A5D8;
    font-family: monospace;
    margin-bottom: 20px;
}

