body {
    margin: 0;
    font-family: monospace;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px 10% 30px 10%;
    padding: 20px 30px 20px 30px;
    background-color: #9CC9E8;
    box-shadow: 15px 15px 30px rgb(71,71,71); /*Rich Black FOGRA 39*/
    border-radius: 2rem;
}

.h1 {
    font-size: 60px;
}

.h2 {
    font-size: 35px;
}

.block {
    width: 100%;
    height: 350px;
}

.buttons {
    margin-right: .5em;
}

.buttons button {
    border: 2px solid #1E1E24;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #9CC9E8;
    transition: 1s ease;
}

.buttons button:hover {
    background-color: #59A5D8;
}