@charset "ISO-8859-1";

.body{
    margin: 0;
}
.content {
    position: absolute;
    width: 100%;
}

.content-left {
    float: left;
}
.content h1{
    text-align: center;
    font-size: 70px;
}

.paragraph {
    font-size: 30px;
    text-align: justify;
    width: 20%;
    margin-left: 5%;
}

.image {
    width: 70%;
    margin-right: 5%;
    float: left;
}

