@charset "ISO-8859-1";


@font-face {
    font-family: 'Sometype Mono', regular;
    src: url('SometypeMono-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    background: url(../img/AF_Login.jpg) no-repeat center center fixed;
}

.content {
    width:100%;
    height: 100%;
    background-color: #9CC9E8; /*Pale Cerulean*/
    position: relative;
    margin: 0;
    padding: 0;
}

.block {
    text-align: center;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, 35%);
    background-color: rgba(126, 171, 202, 0.7); /*Air Superiority Blue*/
    border: solid black 2px;
    box-shadow: 20px 20px 20px rgb(11,11,11); /*Rich Black FOGRA 39*/
    border-radius: 1rem;
    font-family: 'Sometype Mono', regular;
}

.block img {
    float: right;
    position: relative;
    top: -45px;
    margin-right: 5px;
    width: 100px;
    height: 100px;
}

.components {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10px;
}

.components input {
    width: 90%;
    margin: 15px 5% 25px 5%;
    text-align: center;
    font-family: 'Sometype Mono', regular;
    font-size: 25px;
    height: 35px;
    color: #1E1E24; /*Raisin Black*/
    border: none;
    border-bottom: 2px solid;
    background-color: rgba(0,0,0,.0);
}

.components input::placeholder {
    color: #1E1E24; /*Raisin Black*/
    opacity: 1;
    font-size: 30px;
}

input:focus {
    outline: none;
}

.components a {
    font-size: 22px;
    text-decoration: none;
    border-bottom: solid #1E1E24 2px; /*Raisin Black*/
    color: #1E1E24; /*Raisin Black*/
}

.components a:hover {
    font-weight: bold;
}

.components-button {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.components-button input {
    width: 100px;
    height: 40px;
    font-size: 22px;
    color: #1E1E24; /*Raisin Black*/
    background-color: rgba(0,0,0,.0);
}

.content h1 {
    font-family: 'Sometype Mono', regular;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    color: #1E1E24; /*Raisin Black*/
}