body {
    font-family: monospace;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.content-all {
    box-shadow: 15px 15px 30px rgb(71, 71, 71);
    border-radius: 2rem;
    border-style: groove;
    height: 450px;
    background-color: #9CC9E8;
    width: 40%;
}

.identity ul {
    list-style-type: none;
    margin-left: -40px;
}

.identity {
    height: 100%;
    font-size: 35px;
    text-align: center;
}

.identity li{
    margin-bottom: 20px;
    border-bottom: solid 3px #101D42;
}

.form-button button {
    padding: 15px;
    text-decoration: none;
    margin-bottom: 20px;
    font-size: 28px;
    border-radius: 7rem;
}

.form-button a:hover {
    font-weight: bold;
}

.addSkill {
    font-size: 20px;
}
