body {
    margin: 0;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.content {
    display: flex;
    text-align: center;
    width: 70%;
    margin: 80px 15% 80px 15%;
    padding: 20px 30px 20px 30px;
    background-color: #9CC9E8;
    box-shadow: 15px 15px 30px rgb(71,71,71); /*Rich Black FOGRA 39*/
    border-radius: 2rem;
}

.text-block {
    float: left;
    width: 70%;
    text-align: center;
    font-size: 25px;
    margin: auto 10% auto auto;
}

#form {
    margin: auto;
    width: 40%;
}

input[type=file]::file-selector-button {
    border: 2px solid #1E1E24;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #9CC9E8;
    transition: 1s ease;
}

input[type=file]::file-selector-button:hover {
    background-color: #59A5D8;
}

input[type=submit] {
    border: 2px solid #1E1E24;
    padding: .5em 1em;
    border-radius: .5em;
    background-color: #9CC9E8;
}

input[type=submit]:hover {
    background-color: #59A5D8;
    transition: 1s ease;
}